body{
    font-family: 'Akaya Kanadaka', cursive;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.highlight{
    color: coral;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
  width:100%;
}
.top-banner{
    background-image: url("images/top-banner.png ");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg,lightsalmon,tomato) ;
    padding: 10px 20px;
    border-radius: 5px;
    color: cornsilk;
    font-weight: 700;
}
.Dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 75%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#Full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
table{
           
           border: 7px solid ;
           
          
            border-image: linear-gradient(180deg,rgb(221, 108, 15),rgb(211, 32, 218));
           border-image-slice: 1;
           box-shadow: 10px 10px 20px gray;
          
         
          border-width: 5px;
          width: 800px;    
          height: 75%;
          border-spacing: 0;
         
          
          }
        
        tr{

            width: 200px;
            height: 50px;
            text-align: justify;
            
        }
        
        td,th{
            
            border: 2px solid yellowgreen;
            padding-left: 20px;
           
            
        }  
        th{
            background-color:rgb(236, 68, 124)
        }
footer {
    background-color: rgb(107, 103, 103);
    height: 50px;
}
footer p{
   padding: 15px;
  text-align: center;
  font-size: 20px;
  
}
